<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - HCL Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h2>Forgot Password</h2>

    <form method="POST" id="forgotForm">
        <label>Email</label>
        <input type="text" name="email" id="forgotEmail" placeholder="Enter registered email">

        <button type="submit" id="resetBtn">Send Reset Link</button>
    </form>

    <p class="link">
        <a href="/login" id="backToLogin">Back to Login</a>
    </p>

    {% if message %}
        <div id="messageBox" class="msg {{status}}">
            {{ message }}
        </div>
    {% endif %}
</div>

</body>
</html>
